In [4]:
import pandas as pd

In [14]:
data = pd.read_csv('/home/shihab/Downloads/archive/cities.csv')

dt = pd.read_csv('/home/shihab/Downloads/archive/countries.csv')

In [16]:
print(data)

     station_id    city_name      country       state iso2 iso3   latitude  \
0         41515     Asadabad  Afghanistan       Kunar   AF  AFG  34.866000
1         38954     Fayzabad  Afghanistan  Badakhshan   AF  AFG  37.129761
2         41560    Jalalabad  Afghanistan   Nangarhar   AF  AFG  34.441527
3         38947       Kunduz  Afghanistan      Kunduz   AF  AFG  36.727951
4         38987   Qala i Naw  Afghanistan     Badghis   AF  AFG  34.983000
...         ...          ...          ...         ...  ...  ...        ...
1240      67475       Kasama       Zambia    Northern   ZM  ZMB -10.199598
1241      68030  Livingstone       Zambia    Southern   ZM  ZMB -17.860009
1242      67633        Mongu       Zambia     Western   ZM  ZMB -15.279598
1243      67775       Harare     Zimbabwe      Harare   ZW  ZWE -17.817790
1244      67975     Masvingo     Zimbabwe    Masvingo   ZW  ZWE -20.059617

      longitude
0     71.150005
1     70.579247
2     70.436103
3     68.872530
4     63.133300
...         ...
1240  31.179947
1241  25.860013
1242  23.120025
1243  31.044709
1244  30.820020

[1245 rows x 8 columns]

In [17]:
dt.shape

(214, 11)

In [18]:
dt.head()

,country,native_name,iso2,iso3,population,area,capital,capital_lat,capital_lng,region,continent
0,Afghanistan,افغانستان,AF,AFG,26023100.0,652230.0,Kabul,34.526011,69.177684,Southern and Central Asia,Asia
1,Albania,Shqipëria,AL,ALB,2895947.0,28748.0,Tirana,41.326873,19.818791,Southern Europe,Europe
2,Algeria,الجزائر,DZ,DZA,38700000.0,2381741.0,Algiers,36.775361,3.060188,Northern Africa,Africa
3,American Samoa,American Samoa,AS,ASM,55519.0,199.0,Pago Pago,-14.275479,-170.704830,Polynesia,Oceania
4,Angola,Angola,AO,AGO,24383301.0,1246700.0,Luanda,-8.827270,13.243951,Central Africa,Africa

In [19]:
data.head()

,station_id,city_name,country,state,iso2,iso3,latitude,longitude
0,41515,Asadabad,Afghanistan,Kunar,AF,AFG,34.866000,71.150005
1,38954,Fayzabad,Afghanistan,Badakhshan,AF,AFG,37.129761,70.579247
2,41560,Jalalabad,Afghanistan,Nangarhar,AF,AFG,34.441527,70.436103
3,38947,Kunduz,Afghanistan,Kunduz,AF,AFG,36.727951,68.872530
4,38987,Qala i Naw,Afghanistan,Badghis,AF,AFG,34.983000,63.133300